<div class="container">
    <!--<p class="header center-align flow-text grey-text text-darken-2">LOGIN FORM </p>-->

    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
          <div class="card-action">
              <p class="header center-align flow-text grey-text text-darken-2">LOGIN FORM </p>
              <!--  social media    -->
              <div class="row">
                  <div class="nav-wrapper" >
                    <ul class="center-align" >
                      <li style="display: inline-block">
                        <a class="tooltipped btn-floating btn-small" data-tooltip="Google">
                          <i class="fab fa-google"></i>
                        </a>
                      </li>
                      <li style="display: inline-block;margin-left: 2px;margin-right: 2px">
                          <a class="tooltipped btn-floating btn-small blue darken-4" data-tooltip="Facebook">
                            <i class="fab fa-facebook"></i>
                          </a>
                      </li>
                      <li style="display: inline-block">
                          <a class="tooltipped btn-floating btn-small blue lighten-1" data-tooltip="Twitter">
                            <i class="fab fa-twitter"></i>
                          </a>
                      </li>
                    </ul>
                    </div>
                </div>
              <div class="divider"></div>
          </div>

            <form [formGroup]="loginForm"  class="login-form" (ngSubmit)="onSubmit()">
                <div class="row"></div>
                <div class="row">
                    <div class="input-field col s12">


                        <select formControlName="accounType" required>
                          <!--<option *ngFor="let item of accounTypes" [value]="item.name" >{{ item.name }}</option>-->
                          <option value="" disabled selected>Login en tant que</option>
                          <option>User</option>
                          <option>Admin</option>
                        </select>
                        <label>Type de compte</label>

                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input class="validate" id="email" name="email" type="email" formControlName="email" required>
                      <!--   show message   -->
                      <!--
                      <div *ngIf="submitted && f.email.errors">
                        <div id="email-error"  *ngIf="f.email.errors.required">
                            <i class="material-icons red-text darken-2 left">warning</i>
                            <span class="red-text darken-4">Email invalid !</span>
                        </div>
                      </div>
                      -->
                      <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock</i>
                      <input id="passw" type="password" name="password" formControlName="password" required>
                      <!--  show messages  -->
                      <!--
                      <div *ngIf="submitted && f.password.errors">
                          <div id="email-error"  *ngIf="f.password.errors.required">
                              <i class="material-icons red-text darken-2 left">warning</i>
                              <span class="red-text darken-4">Password invalid !</span>
                          </div>
                      </div>
                      -->
                      <label for="passw">Password</label>
                    </div>
                </div>

                <!--
                <div class="row">

                    <div class="input-field col s12 m12 l12  login-text">

                        <label class="right">
                          <input type="checkbox"  class="filled-in"/>
                          <span>Remember me !</span>
                        </label>
                    </div>


                </div>
                -->
                <div class="row">
                    <div class="input-field col s12">
                      <button [disabled]="loginForm.invalid" type="submit" class="btn waves-effect waves-light right">
                        <span>Login</span>
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>
                <!--              ##################  -->
                <!--           all form error                 -->
                <!--
                <div id="all-form-error">
                  <ul >
                    <li  class="card-panel red lighten-3">
                        <i class="material-icons red-text darken-2 left">warning</i>
                        <span class="white-text darken-4 center-align">Email incorredt !</span>
                    </li>
                    <li class="card-panel red lighten-3">
                        <i class="material-icons red-text darken-2 left">warning</i>
                        <span class="white-text darken-4 center-align">Email incorrect !</span>
                    </li>
                  </ul>

                </div>
              -->
                <!--                end of all form error                              -->

                <!--
                <div class="row">
                    <div class="input-field col s6 m6 l6 right">
                        <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
                    </div>

                </div>
                -->
            </form>
        </div>
    </div>


</div>
