<div class="container">
  <p class="header center-align flow-text grey-text text-darken-2">REGISTER FORM </p>

  <div id="pregister-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <!--   First form -> select account type     -->
      <form class="pregister-form">
        <div class="row"></div>
        <div class="row">
            <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Creer un compte en tant que</option>
                  <option value="1">Administrateur</option>
                  <option value="2">Etudiant</option>
                </select>
                <label>Type de compte</label>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="btn waves-effect waves-light right">
              <span>Continue</span>
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
      </form>
    </div>


    <!--   second form registration data     -->
    <div class="row">
        <div class="col s12 z-depth-6 card-panel">
          <form class="register-form">
            <div class="row"></div>
          <!--  Nom   -->
          <div class="row">
              <div class="input-field col s12">

                <input class="validate" id="nom" type="text">
                <!--   show nom message   -->
                <!--
                <div id="nom-error">
                    <i class="material-icons red-text darken-2 left">warning</i>
                    <span class="red-text darken-4">Nom invalid !</span>
                </div>
                -->
                <label for="nom" data-error="wrong" data-success="right">Nom</label>
              </div>
          </div>

          <!--  Prenom   -->
          <div class="row">
              <div class="input-field col s12">

                <input class="validate" id="prenom" type="text">
                <!--   show nom message   -->
                <!--
                <div id="nom-error">
                    <i class="material-icons red-text darken-2 left">warning</i>
                    <span class="red-text darken-4">Nom invalid !</span>
                </div>
                -->
                <label for="prenom" data-error="wrong" data-success="right">Prenom</label>
              </div>
          </div>

          </form>
        </div>
    </div>




  </div>


</div>
