<section class="section">
  <div class="row">
    <div class="col l12 m12 s12">
      <p class=" flow-text grey-text darken-2  header">My Converter</p>
      <div class="divider"></div>
      <div class="row">
        <div class="col l12 m12 s12 xl10">
          <div class="card-panel z-depth-1">
            <h5 class="grey-text center-align">Real Time Converter</h5>
            <div class="row">
              <!--    first    -->
              <div class="col l12 m12 s12">
                <select class="select">
                  <option>Choose your device</option>
                  <option>Dollar</option>
                  <option>Euro</option>
                  <option>Dirham</option>
                </select>
                <label>Choose your device</label>
              </div>
            </div>
            <div class="row">
              <div class="center-align">
                <h5 class="grey-text">To</h5>
              </div>
            </div>
            <div class="row">
              <!--   second     -->
              <div class="col l12 m12 s12">
                <select class="select">
                  <option>Choose your device</option>
                  <option>Dollar</option>
                  <option>Euro</option>
                  <option>Dirham</option>
                </select>
                <label>Choose your device</label>
              </div>
            </div>
            <div class="row">
              <div class="col l12 m12 s12 offset-6">
                <a class="btn amber white-text waves-effect center-align">Convert</a>
              </div>
            </div>
            <!--Result-->
            <div class="row">
              <div class="col l12 m12 s12 offset-6 center-align">
                <h5 class="center-align">Result :<strong class="red-text">490</strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
