

<div  class="navbar-fixed">
  <nav>
    <div class="nav-wrapper purple lighten-1">
      <a href="#!" class="brand-logo valign-wrapper amber-text darken-2 center a-logo">

        <!-- logo color= #e4e225 -->
        <span class="white-text">SHOPY</span>STORE.
      </a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li>
          <a class="btn-floating amber  waves-effect waves-light">
            <i class="material-icons">notifications_active</i>
          </a>
        </li>

      </ul>
    </div>

  </nav>

</div>


<!--   side nav fixe     -->
<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/images/shop/roll-the-dice-1502706_640.jpg" class="responsive-img"/>
      </div>
      <a href="#user"><img class="circle" src="assets/images/team-2.jpg"></a>
      <a href="#name"><span class="white-text name "><strong>John Doe</strong></span></a>
      <a href="#email"><span class="white-text email"><strong>john.Doa@gmail.com</strong></span></a>
    </div></li>
    <li>
      <a href="#" class="purple-text waves-effect">
        <i class="material-icons purple-text">dashboard</i>
        Dashboard
      </a>
    </li>
    <li>
      <a  class="purple-text waves-effect">
        <i class="material-icons purple-text">person</i>
        Profile
      </a>
    </li>
    <li>
      <a href="#" class="purple-text waves-effect">
        <i class="material-icons purple-text">people</i>
        Clients
      </a>
    </li>
    <li>
      <a href="#" class="purple-text waves-effect">
        <i class="material-icons purple-text">business</i>
        Categories
      </a>
    </li>
    <li>
      <a  data-target="articles" class="purple-text waves-effect">
        <i class="material-icons purple-text">library_books</i>
        Articles
      </a>
    </li>
    <li>
      <a  data-target="analytics" class="purple-text waves-effect">
        <i class="material-icons purple-text">trending_up</i>
        Analytics
      </a>
    </li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Account state</a></li>
    <li>
      <a href="#" class="purple-text waves-effect">
        <i class="material-icons purple-text">input</i>
        Logout
      </a>
    </li>
</ul>




<!--Router components-->
<div class="main">
  <app-admin-analytics ></app-admin-analytics>

  <app-admin-profile></app-admin-profile>
  <app-admin-clients></app-admin-clients>
  <!--<app-clients-table></app-clients-table>-->
</div>





<!--  fixed button    -->
<div class="fixed-action-btn">
  <a href="#" class="btn-floating amber white-text pulse tooltipped" data-tooltip="Add new element" data-position="right">
    <i class="material-icons">add</i>
  </a>
</div>


<!--   footer   -->

<footer class="purple lighten-1 page-footer" style="clear:both">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">SHOPYSTORE DASHBOARD</h5>
        <ul id='credits'>
          <li>
            Gif Logo made using <a class="amber-text" href="https://formtypemaker.appspot.com/" title="Form Type Maker">Form Type Maker</a> from <a class="amber-text" href="https://github.com/romannurik/FORMTypeMaker" title="romannurik">romannurik</a>
          </li>
          <li>
            Icons made by <a class="amber-text" href="https://material.io/icons/">Google</a>, available under <a class="amber-text" href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        <span>Made By <a class="amber-text" style='font-weight: bold;' target="_blank">SHOP STORE TEAM</a></span>
    </div>
  </div>
</footer>


