<!--
<div class="row">
  <div class="col s12 m12 l12">
    <p class=" flow-text grey-text header">Dashboard > My Profile</p>
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/images/blog_3.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, sit porro, quibusdam optio, corporis quasi iure minima hic a asperiores molestiae accusamus ipsum animi qui dolore nam officiis quidem harum quos obcaecati odio quam. Molestias maxime quasi sapiente autem minus quae porro dicta tempora rerum amet obcaecati quidem, ut animi?</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!--
<div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/blog_3.jpg" class="circle">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
-->

<div class="row">
  <div class="col l12 m12 s12">
    <p class=" flow-text grey-text header">Dashboard > My Profile</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <!--
          <div class="card-image">
            <img src="assets/images/shop/roll-the-dice-1502706_640.jpg" alt="" />
          </div>
          -->
          <div class="card-content">
            <div class="row">
              <div class="col s4 profile-pic">
                <img class="circle responsive-img" src="assets/images/comment_2.jpg" alt="" />
              </div>
              <div class="col right controls ">
                <!--<i class="material-icons">more_vert</i>-->
                <a class="btn-floating amber  waves-effect waves-light modal-trigger" href="#modal1" data-target="modal1">
                  <i class="material-icons">edit</i>
                </a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <p class="flow-text center-align">Edit My Profile</p>
                    <div class="divider"></div>
                    <div class="row"></div>
                    <!--    edit profile form    -->
                    <div class="row">
                      <form class="col s12">
                        <!--   image   -->
                        <div class="row">
                          <div class="file-field input-field">
                            <div class="btn amber">
                              <span>Photo</span>
                              <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="First Name" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                          </div>
                          <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Change Password</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="confirmPassword" type="password" class="validate">
                            <label for="confirmPassword">Confirm Password</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <button  type="submit" class="btn amber waves-effect waves-light right">
                              <span>Submit</span>
                              <i class="material-icons right">send</i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a routerLink="/adminHome" class="modal-close waves-effect waves-green btn-flat">Close</a>
                  </div>
                </div>
                <!--  end of model    -->
              </div>
              <div class="row-menu">
                <div class="menu">
                  <div class="row">
                    <ul class="menu-list">
                      <li><strong>Name :</strong>Handi</li>
                      <li><strong>Email :</strong>handi.fouad@gmail.com</li>
                      <li>
                        <strong>Social Media  : </strong>
                        <a class="tooltipped btn-floating btn-small" data-tooltip="Google">
                          <i class="fab fa-google"></i>
                        </a>
                        <a class="tooltipped btn-floating btn-small blue darken-4" data-tooltip="Facebook" style="margin: 0px 3px">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="tooltipped btn-floating btn-small blue lighten-1" data-tooltip="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <span class="card-title black-text">Handi Fouad</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
