<div *ngIf="!adminIsAutheticated"  class="navbar-fixed">
  <nav>
    <div class="nav-wrapper purple lighten-1">
      <a href="#!" class="brand-logo valign-wrapper amber-text darken-2 a-logo">
        <!--<img  src="assets/images/shpingLogo.png" weidth="120px" height="50" class="logo-ensa"/>-->
        <!-- logo color= #e4e225 -->
        <span class="white-text">SHOPY</span>STORE.
      </a>
      <a class="sidenav-trigger" data-target="mobile-links" style="cursor: pointer">
        <i class="material-icons white-text">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li><a class="text-white" routerLink="/">HOME</a></li>
        <li><a href="#" class="text-white">ARTICLES</a></li>
        <li><a href="#cont" class="text-white">CONTACT</a></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger btn-floating amber  waves-effect waves-light" data-target='dropdown1'>
            <i class="material-icons">person</i>
          </a>
        </li>

        <!--  End dropDown  -->

      </ul>
    </div>
  </nav>
</div>

<!--  mobile links !  -->
<ul class="sidenav" id="mobile-links">
    <li><a class="purple-text waves-effect" routerLink="/">
      <i class="material-icons purple-text">home</i>
      HOME</a></li>
    <li>
      <a  href="#popArticles" class="purple-text waves-effect">
        <i class="material-icons purple-text">library_books</i>
        Articles
      </a>
    </li>
    <li><a href="#cont" class="purple-text waves-effect">
        <i class="material-icons purple-text">contacts</i>
        CONTACT</a></li>
    <li><a routerLink="login" class="purple-text waves-effect">
        <i class="material-icons purple-text">lock_open</i>
        LOGIN </a></li>
    <li><a routerLink="register" class="purple-text waves-effect">
        <i class="material-icons purple-text">assignment_ind</i>
        REGISTER</a></li>

</ul>
<!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li>
      <a routerLink="login" class="">LOGIN </a>
    </li>
    <li>
      <a routerLink="register" class="">REGISTER</a>
    </li>
  </ul>
<router-outlet></router-outlet>







