<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo valign-wrapper">
        <img  src="assets/images/ensa.png" weidth="80px" height="55" class="logo-ensa"/>
      </a>
      <a class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons black-text">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li><a class="black-text lighten-3" routerLink="/">Home</a></li>
        <li><a href="#dep" class="black-text lighten-3">Departements</a></li>
        <li><a routerLink="login" class=" btn waves-effect waves-light">Login </a></li>
        <li><a routerLink="register" class="btn waves-effect waves-light">Register</a></li>
      </ul>
    </div>
  </nav>
</div>

<!--  mobile links !  -->
<ul class="sidenav" id="mobile-links">
    <li><a class="black-text lighten-3" routerLink="/">Home</a></li>
    <li><a href="#dep" class="black-text lighten-3">Departements</a></li>
    <li><a routerLink="login" class=" black-text lighten-3">Login </a></li>
    <li><a routerLink="register" class="black-text lighten-3">Register</a></li>

</ul>
<router-outlet></router-outlet>







