
<div class="container">

    <div class="col s12 m7">
      <p class="header center-align flow-text grey-text text-darken-2">PAGE NOT FOUND !</p>
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/images/404_04.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quod modi vel nam? Repellat corrupti autem neque quidem natus reiciendis suscipit doloremque, incidunt maxime odit! Iste minima accusamus tenetur architecto!</p>



          </div>
          <div class="card-action">
            <a routerLink="/" class="btn waves-effect right">Go Back</a>
          </div>
        </div>
      </div>
    </div>

</div>
