<div  class="navbar-fixed">
  <nav>
    <div class="nav-wrapper purple lighten-1">
      <a href="#!" class="brand-logo valign-wrapper amber-text darken-2 center a-logo">

        <!-- logo color= #e4e225 -->
        <span class="white-text">SHOPY</span>STORE.
      </a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!--
      <ul class="right hide-on-med-and-down">

        <li>
          <a class="btn-floating amber darken-2  waves-effect waves-light">
            <i class="material-icons">notifications_active</i>
          </a>

        </li>


      </ul>
      -->
    </div>

  </nav>

</div>


<!--   side nav fixe     -->
<ul id="slide-out" class="sidenav sidenav-fixed">
    <!--
    <li><div class="user-view">
      <div class="background">
        <img src="assets/images/shop/roll-the-dice-1502706_640.jpg" class="responsive-img"/>
      </div>
      <a ><img class="circle" src="assets/images/team-2.jpg"></a>
      <a ><span class="white-text name "><strong>John Doe</strong></span></a>
      <a ><span class="white-text email"><strong>john.Doa@gmail.com</strong></span></a>
    </div></li>-->
    <li class="purple lighten-1" style="padding: 8px 0px">
      <a class="white-text flow-text center-align" >SHOPYSTORE</a>
    </li>

    <li>
      <a   class="purple-text waves-effect" (click)="triggerArticle()">
        <i class="material-icons purple-text">library_books</i>
        Articles
      </a>
    </li>
    <li>
      <a  class="purple-text waves-effect" (click)="triggerCart()">
        <i class="material-icons purple-text">shopping_cart</i>
        Cart
      </a>
    </li>
    <li>
      <a  class="purple-text waves-effect" (click)="triggerConverter()">
        <i class="material-icons purple-text">attach_money</i>
        Converter
      </a>
    </li>

    <li>
      <a  class="purple-text waves-effect" (click)="triggerOrder()">
        <i class="material-icons purple-text">business</i>
        Order
      </a>
    </li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Account state</a></li>
    <li>
      <a href="#" class="purple-text waves-effect">
        <i class="material-icons purple-text">input</i>
        Logout
      </a>
    </li>
</ul>





<!--Router components-->

<div class="main">
  <app-client-articles id="client-article" *ngIf="articleOn" ></app-client-articles>
  <app-client-cart id="client-cart" *ngIf="cartOn" ></app-client-cart>
  <app-client-converter id="client-converter" *ngIf="converterOn" ></app-client-converter>
  <app-client-order id="client-order" *ngIf="orderOn" ></app-client-order>
</div>


<!--   footer   -->

<footer class="purple lighten-1 page-footer" style="clear:both">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">SHOPYSTORE MARKET</h5>
        <ul id='credits'>
          <li>
            Gif Logo made using <a class="amber-text" href="https://formtypemaker.appspot.com/" title="Form Type Maker">Form Type Maker</a> from <a class="amber-text" href="https://github.com/romannurik/FORMTypeMaker" title="romannurik">romannurik</a>
          </li>
          <li>
            Icons made by <a class="amber-text" href="https://material.io/icons/">Google</a>, available under <a class="amber-text" href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        <span>Made By <a class="amber-text" style='font-weight: bold;' target="_blank">SHOP STORE TEAM</a></span>
    </div>
  </div>
</footer>


